### IntelliJ ###
/.idea
out/
*.iml

### Gradle ###
.gradle
build/
/chromium-binary/
/chrome-driver/

### Docker ###
/docker/data
/docker/drill-volumes/pg
/docker/metabase-volumes/pg

### Misc ###
*.log